{% extends "_base.html" %}

{% block main_content %}
    <div class="container">
        <p>Here you can create your own short URL: <a href="{% url 'create' %}">Create</a></p>

            <h2>Existing URLs</h2>
            <div class="table-responsive mb-5 border rounded p-2 p-md-3 ">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Short URL</th>
                            <th scope="col">Original URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if destinations %}
                            {% for destination in destinations %}
                                <tr>
                                    <th scope="row">
                                        <a href="/{{ destination.slug }}" target="_blank" title="Short URL">
                                            {{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ destination.slug }}
                                        </a>
                                    </th>
                                    <td class="overflow-auto">
                                        <a href="{{ destination.destination_url }}" target="_blank"
                                            title="{{ destination.destination_url }}">
                                            <code>{{ destination.destination_url }}</code>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2">No URLs yet</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

    </div>
{% endblock %}