<div class="container py-4">
    <h1>About <strong>Durls</strong></h1>
    <p>This is a simple application to shorten your long URL.</p>
    <p>
        For example <a href="/go">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/go</a> will redirect you to 
        <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=bilgogi">
            https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=bilgogi
        </a>
    </p>
</div>