<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            {% include "includes/meta.html" %}
        {% endblock meta %}

        {% block style %}
            {% include "includes/style.html"%}
        {% endblock style %}
    </head>

    <body class="text-dark">
        {% block navigation %}
            {% include "includes/nav.html" %}
        {% endblock navigation %}

        {% block messages %}
            {% include "includes/messages.html" %}
        {% endblock messages %}

        {% block about %}
            {% include "includes/about.html" %}
        {% endblock about %}

        {% block main_content %}
        {% endblock main_content %}

        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock footer %}

        {% block javascript %}
            {% include "includes/javascript.html" %}
        {% endblock javascript %}
    </body>
</html>