{% extends '_base.html' %}

{% block content %}
    <section class='container py-4' style="min-height:80vh">
        <div>
            <h1>Durls</h1>
            <p class="lead">Pure Django, Python urls shortener, redirector. Easy to setup, fast and reliable. </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Short URL</th>
                            <th scope="col">Full URL</th>
                            <th scope="col">Visits</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <form class="input-group" action="" method="post">{% csrf_token %}
                            <tr>
                                <th scope="row">{{ form.slug }}</th>
                                <td>{{ form.destination_url }}</td>
                                <td></td>
                                <td><input class="form-control" input type="submit" value="Add a new URL" /></td>
                            </tr>
                        </form>
                        {% for destination in destinations %}
                            <tr>
                                <th scope="row"><a href="/{{ destination.slug }}">{{ destination.slug }}</a></th>
                                <td><a href="/{{ destination.slug }}">{{destination.destination_url}}</a></td>
                                <td>{{destination.visits}}</td>
                                <td>Delete</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}